html, body {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}
body {
  background-color: rgb(253, 253, 245);
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(44, 44, 44);
   }
   a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: rgb(44, 44, 44);
}
p{
  line-height:1.5
}
@media only screen and (max-width: 2560px) {
  .post {
     padding: 450px;
     padding-bottom: 200px;
     text-align: justify;
     hyphens: none;
  }
}
@media only screen and (max-width: 1440px) {
    .post {
     padding: 250px;
     padding-bottom: 200px;
     text-align: justify;
     hyphens: none;
  }
}
@media only screen and (max-width: 1400px) {
    .post {
     padding: 250px;
     padding-bottom: 300px;
     text-align: justify;
     hyphens: none;

  }
}
@media only screen and (max-width: 1200px) {
   .post {
       padding: 200px;
       padding-bottom: 300px;
       text-align: justify;
       hyphens: none;
  
  }
}
@media only screen and (max-width: 760px) {
  .post {
         padding: 60px;
         padding-bottom: 50px;
         text-align: justify;
         hyphens: none;
  }
}
@media only screen and (max-width: 600px) {
  .post {
     padding: 30px;
     padding-bottom: 200px;
     text-align: justify;
     hyphens: none;
  }
}
@media only screen and (max-width: 300px) {
  .post {
     padding: 20px;
     padding-bottom: 50px;
     text-align: justify;
     hyphens: none;
  }
}
.footer {
  color: rgb(34, 34, 34);
  bottom: 0;
  position: relative;
  margin: auto;
  width: 100%;
  height: 120px;
  line-height: 50px;
}
/*footer test*/
.social-footer{text-align:center}::selection{background:#e6e6fa}@media only screen and (max-width:450px){.rainbow-letters span{font-size:40px}section{margin:10px}.speaking-columns{display:block}}@media only screen and (max-width:600px){.speaking-columns{display:block}}
.social-links a{font-size:25px;padding:0 8px;text-decoration:none;color:#444}
/*footer test*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 40%;
}

/* */